.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@media only screen and (max-width: 390px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
}
